@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto slab', serif;
}

.first-section {
    background-color: #1F2937;

}

#header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-link {
    font-size: 18px;
    color: #E5E7E6;
    margin: 10px;
}

.navbar {
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    flex-direction: row;
}

.navbar-right,.navbar-left {
    padding-top: 1rem;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: row;
    /* margin:50px; */
}

h1 {
    font-size: 43px;
    color: #F9FAF8;
    font-weight: bolder;
}

.content-left  {
    display: flex;
    flex-direction: column;
    width:50%; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 150px;
}
.content-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
} 

.p-first{
    font-size: 18px;
    margin-left: 110px;
    color :#F9FAF8;
}

img {
    margin: 30px;
}

.sign-up-first-section{
    margin :30px;
    background-color:#3882f6;
    color:white;
    width:100px;
    height:25px;
    border:1px #3882f6;
    border-radius: 10px;
}

/* CONTENT SECTION */
.content1 {
    text-align: center;
    padding: 20px 50px;
}

.content1 h3 {
    font-size: 36px;
    color: #1f2937;
}

.content1 img {
    width: 200px;
    border-radius: 10px;
}

.img-content {
    display: flex;
    justify-content: center;
    gap: 30px;
}

/* QUOTE SECTION */
.quote-section {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    font-size: 36px;
    padding: 3em 0;
}

.quote-section p {
    font-style: italic;
}

.quote-section .author {
    font-weight: bold;
    font-size: 25px;
    text-align: right;
    padding-right: 30px;
}

.quote-section .author span {
    font-style: italic;
}

/* CTA SECTION */

.cta-section {
    display: flex;
    justify-content: center;
}

.cta {
    background-color: #3882f6;
    color: white;
    display: flex;
    align-items: center;
    margin: 5em 0em;
    padding: 3em 8em;
    border-radius: 10px;
    gap: 8em;
}

.cta div p,
.cta div h3 {
    margin: 0;
}

.cta div p {
    margin-top: 10px;
}

.cta button {
    border: 2px solid white;
}

/* FOOTER SECTION */
.footer {
    padding: 2em;
    text-align: center;
}
